<html>
    <head>
        <title>Add users</title>
    </head>
    <body>
        <center>
        <h2>Add New Users....!!</h2>
        <form action="" method="post">
            <label for="">Name</label>
            <input type="text" name="name" required><br><br>
            <label for="">Age</label>
            <input type="text" name="age" required><br><br>
            <label for="">City</label>
            <input type="text" name="city" required><br><br>
            <input type="submit" value="Save Details">
        </form>
    </center>
    </body>
</html>