<html>
    <head>
        <title>Add users</title>
    </head>
    <body>
        <center>
        <h2>Edit User....!!</h2>
        <form action="" method="post">
            <label for="">Name</label>
            <input type="text" name="name" value="{{datas.Name}}" required><br><br>
            <label for="">Age</label>
            <input type="text" name="age" value="{{datas.Age}}" required><br><br>
            <label for="">City</label>
            <input type="text" name="city"  value="{{datas.City}}"required><br><br>
            <input type="submit" value="Edit User">
        </form>
    </center>
    </body>
</html>